html,
body {
  margin: 0;
  background-color: #e3f6f5;
  color: #272343;
}

.header {
  background-color: #e3f6f5;
}

.header-link {
  font-size: 1.5em;
  font-weight: bold;
  color: #272343;
}

.content {
  padding: 0 50px;
  background-color: #e3f6f5;
}

.footer {
  text-align: center;
  background-color: #e3f6f5;
}

.carender-icon {
  padding: 5px;
  font-size: 1.1em;
}

.article-content-container {
  margin: 1em;
  display: flex;
  justify-content: center;
}

.article-content {
  background-color: #fffffe;
  padding: 1.5em 3em;
  border-radius: 10px;
  min-height: 100vh;
  width: 70%;
}
